{% extends "admin_tontine/base.html" %}
{% block content %}
<div class="wrapper">
    {% include "admin_tontine/seidebar.html" %}
    <div class="main-panel">
        {% include "admin_tontine/navbar.html" %}

        <div class="container" style='max-width:350px; margin-top:130px;'>
          <div class="card text-center">
              <div class="card-header">
                Payement
              </div>

              <div class="card-body">
                  <h5 class="card-title">
                      {% if confirm %}
                          <i class="fa fa-trophy"></i>
                      {% else %}
                          <i class="fa fa-times-circle"></i>
                      {% endif %}
                  </h5>
                  <p class="card-text">
                      {{ context }}
                  </p>
                  {% if confirm %}
                    <form action="" method="post">
                      {% csrf_token %}
                      <button type="submit" href=" {% url "payement:payement_tontine_collective" tontine_uid  %} " class="btn btn-info">Payer</button>
                      <a href="{% url "tontine:detail_tontine" tontine_uid %}" class="btn btn-warning">Annuler</a>
                    </form>

                  {% else %}
                      <a href="{% url "tontine:detail_tontine" tontine_uid %}" class="btn btn-primary">Retour</a>
                  {%endif%}
              </div>

              <div class="card-footer text-body-secondary">
                2 days ago
              </div>
            </div>


      </div>

    </div>

</div>


{% endblock  %}
