{% load static %}
<!--footer section start -->
<div class="footer_section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <h4 class="about_text">À propos de notre plateforme</h4>
        <div class="location_text"><img src="{% static 'blog/images/map-icon.png' %}"><span class="padding_left_15">Localisation : [votre ville]</span></div>
        <div class="location_text"><img src="{% static 'blog/images/call-icon.png' %}"><span class="padding_left_15">+01 9876543210</span></div>
        <div class="location_text"><img src="{% static 'blog/images/mail-icon.png' %}"><span class="padding_left_15">support@tontineplateforme.com</span></div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <h4 class="about_text">Nos Services</h4>
        <p class="dolor_text">Notre plateforme vous permet de gérer vos tontines collectives et individuelles en toute sécurité. Rejoignez-nous pour atteindre vos objectifs financiers de manière flexible et transparente.</p>
      </div>
      <div class="col-lg-3 col-sm-6">
        <h4 class="about_text">Instagram</h4>
        <div class="footer_images">
          <div class="footer_images_left">
            <div class="image_12"><img src="{% static 'blog/images/img-12.png' %}"></div>
            <div class="image_12"><img src="{% static 'blog/images/img-12.png' %}"></div>
            <div class="image_12"><img src="{% static 'blog/images/img-12.png' %}"></div>
          </div>
          <div class="footer_images_right">
            <div class="image_12"><img src="{% static 'blog/images/img-12.png' %}"></div>
            <div class="image_12"><img src="{% static 'blog/images/img-12.png' %}"></div>
            <div class="image_12"><img src="{% static 'blog/images/img-12.png' %}"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <h4 class="about_text">Newsletter</h4>
        <input type="text" class="mail_text" placeholder="Entrez votre email" name="Enter your email">
        <div class="subscribe_bt"><a href="#">S'abonner</a></div>
        <div class="footer_social_icon">
          <ul>
            <li><a href="#"><img src="{% static 'blog/images/fb-icon1.png' %}"></a></li>
            <li><a href="#"><img src="{% static 'blog/images/twitter-icon1.png' %}"></a></li>
            <li><a href="#"><img src="{% static 'blog/images/linkedin-icon1.png' %}"></a></li>
            <li><a href="#"><img src="{% static 'blog/images/youtub-icon1.png' %}"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- copyright section start -->
    <div class="copyright_section">
      <div class="copyright_text">Copyright 2025 Tous droits réservés par <a href="https://tontineplateforme.com">Tontine Plateforme</a></div>
    </div>
    <!-- copyright section end -->
  </div>
</div>
<!--footer section end -->
