{% extends "blog/base.html" %}
{% load static %}
{% block content %}
  <!--section d'en-tête début-->
  <div class="header_section">
    <div class="header_left">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="logo"><a href="index.html"><img style="width: 60px;" src="{% static 'blog/images/logo.png' %}"></a></div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href=" {% url 'blog:index' %} " >Accueil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href=" {% url 'blog:about' %} ">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href=" {% url 'blog:services' %}">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href=" {% url 'blog:team' %} " >Équipe</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href=" {% url 'blog:contact' %}" >Contact</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="banner_main">
        <h4 class="banner_taital">Plateforme de Tontine </h4>
        <p class="banner_text">Rejoignez notre plateforme et gérez facilement vos tontines collectives et individuelles. Un moyen sûr, rapide et transparent pour atteindre vos objectifs financiers.</p>
        <div class="btn_main">
          <div class="more_bt"><a href="{% url 'account:singin' %}">Se connecter</a></div>
          <div class="contact_bt"><a href="{% url 'account:singup' %}">S'inscrire</a></div>
        </div>
      </div>
    </div>
    <div class="header_right">
      <img src="{% static 'blog/images/banner-img.png' %}" class="banner_img">
    </div>
  </div>
  <!--section d'en-tête fin-->
  
  <!--section à propos début-->

{% endblock %}
