{% extends "admin_tontine/base.html" %}
{% block content %}
<div class="wrapper">
  {% include "admin_tontine/seidebar.html" %}
  <div class="main-panel">
      {% include "admin_tontine/navbar.html" %}

      <div class="container">
        {% if is_blocked %}
          <p class="text-center text-danger display-2">Vous êtes bloqué veillez contactez l'Administrateur pour vous debloquer.</p>
        {% else %}
        <div class="page-inner">
          <div class="page-header">
            <h3 class="fw-bold mb-3">Detail Tontine</h3>
            <ul class="breadcrumbs mb-3">
              <li class="nav-home">
                <a href=" {% url 'user_tontine:user_dashboard' %} ">
                  <i class="icon-home"></i>
                </a>
              </li>
              <li class="separator">
                <i class="icon-arrow-right"></i>
              </li>
              <li class="nav-item">
                <a href="#">Tontine</a>
              </li>
              <li class="separator">
                <i class="icon-arrow-right"></i>
              </li>
              <li class="nav-item">
                <a href="#">Detail</a>
              </li>
            </ul>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <!-- le contenue  -->
                  <div class="container d-flex">
                    <!-- le contenue de la gauche sur le titre -->
                    <div class="left-content">
                      <div class="card-title">
                        {{tontine.name}} | <span class="text-danger ">Montant: {{tontine.amount}} GNF</span>
                        <p> <i>Creer le : {{tontine.create_at |date:"D d M Y"}}</i>
                          ||
                          <i>Start date : {{tontine.start_at |date:"D d M Y"}}</i>
                          <br>
                          la frequence : {{tontine.frequence}}
                          ||
                          Administrateur : {{tontine.admin.first_name}} - {{tontine.admin.last_name}} <span style='color:blue;'> ( {{tontine.admin.email}} ) </span>
                      </p>
                      </div>
                      <div class="card-category">{{tontine.description}} </div>
                    </div>
                    <!-- le contenu de la droite sur les details -->
                    <div class="right-content " style="margin-left: auto;">

                    </div>
                  </div>

                  <!-- detail sur la tontine  -->
                  <div class="row row-card-no-pd">
                    <div class="col-12 col-sm-6 col-md-6 col-xl-3">
                      <div class="card">
                        <div class="card-body">
                          <div class="d-flex justify-content-between">
                            <div>
                              <h6><b>Total inscrit </b></h6>
                              <p class="text-muted">les memnbres </p>
                            </div>
                            <h4 class="text-info fw-bold"> {{tontine.total_members}} /{{tontine.limite_member}} </h4>
                          </div>
                          <div class="progress progress-sm">
                            <div
                              class="progress-bar bg-info w-100"
                              role="progressbar"
                              aria-valuenow="100"
                              aria-valuemin="0"
                              aria-valuemax="100"
                            ></div>
                          </div>
                          <div class="d-flex justify-content-between mt-2">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-xl-3">
                      <div class="card">
                        <div class="card-body">
                          <div class="d-flex justify-content-between">
                            <div>
                              <h6><b>Solde </b></h6>
                              <p class="text-muted">Actuel</p>
                            </div>
                            <h5 class="text-success fw-bold"> {{tontine.periode_amount}} GNF</h5>
                          </div>
                          <div class="progress progress-sm">
                            <div
                              class="progress-bar bg-success w-100"
                              role="progressbar"
                              aria-valuenow="100"
                              aria-valuemin="0"
                              aria-valuemax="100"
                            ></div>
                          </div>
                          <div class="d-flex justify-content-between mt-2">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-xl-3">
                      <div class="card">
                        <div class="card-body">
                          <div class="d-flex justify-content-between">
                            <div>
                              <h6><b>Non Payer </b></h6>
                              <p class="text-muted">Acquitement</p>
                            </div>
                            <h4 class="text-danger fw-bold">  {{non_payers_count}} / {{ tontine.limite_member }} </h4>
                          </div>
                          <div class="progress progress-sm">
                            <div
                              class="progress-bar bg-danger w-100"
                              role="progressbar"
                              aria-valuenow="100"
                              aria-valuemin="0"
                              aria-valuemax="100"
                            ></div>
                          </div>
                          <div class="d-flex justify-content-between mt-2">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-xl-3">
                      <div class="card">
                        <div class="card-body">
                          <div class="d-flex justify-content-between">
                            <div>
                              <h6><b>Payer</b></h6>
                              <p class="text-muted">Acquitement 👍</p>
                            </div>
                            <h4 class="text-secondary fw-bold"> {{ payers_count }} / {{ tontine.total_members }} </h4>
                          </div>
                          <div class="progress progress-sm">
                            <div
                              class="progress-bar bg-secondary w-100"
                              role="progressbar"
                              aria-valuenow="100"
                              aria-valuemin="0"
                              aria-valuemax="100"
                            ></div>
                          </div>
                          <div class="d-flex justify-content-between mt-2">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- fin des details sur la tontine -->


                  <!-- les informations crutiales sur la tontine -->
                  <div class="row d-flex justify-content-center">
                    <div class="col-sm-6 col-md-4">
                      <div class="card card-stats card-info card-round">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-5">
                              <div class="icon-big text-center">
                                <i class="fas fa-user-check"></i>
                              </div>
                            </div>
                            <div class="col-7 col-stats">
                              <div class="numbers">
                                <h4 class="card-title"> {{recipient_periode}} </h4>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                      <div class="card card-stats card-success card-round">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-5">
                              <div class="icon-big text-center">
                                <i class="fas fa-chart-pie"></i>
                              </div>
                            </div>
                            <div class="col-7 col-stats">
                              <div class="numbers">
                                <p class="card-category">Montant Total</p>
                                <h4 class="card-title"> {{tontine.total_revenu}} GNF</h4>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm col-md-4">
                      <div class="card card-stats card-secondary card-round">
                        <div class="card-body">
                          <div class="row">
                            <div class="col">
                              <div class="icon-big text-center">
                                <i class="far fa-check-circle"></i>
                              </div>
                            </div>
                            <div class="col col-stats">
                              <div class="numbers">
                                <p class="card-category">Periode </p>
                                <h4 class="card-title"> {{tontine.periode_count}} </h4>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- fin des informations crutiales -->

                </div>


                <div class="card-body">
                  <!-- le debut de la table -->
                  <div class="col-md-12">
                    <div class="card">
                      <div class="card-header">
                        <div class="d-flex align-items-center">
                          <h4 class="card-title">Montants dus par les non-payeurs</h4>
                        </div>
                      </div>
                      <div class="card-body">

                        <!-- la liste de tous les membres de la tontine -->
                        <div class="table-responsive">
                          <table
                            id="add-row"
                            class="display table table-striped table-hover"
                          >
                            <thead>
                              <tr>
                                <th>Profil</th>
                                <th>Nom</th>
                                <th>Acquitement</th>
                                <th>Payement</th>
                                <th style="width: 10%">Action</th>
                              </tr>
                            </thead>
                            <tfoot>
                              <tr>
                                <th>Profil</th>
                                <th>Nom</th>
                                <th>Acquitement</th>
                                <th>Payement</th>
                                <th>Action</th>
                              </tr>
                            </tfoot>
                            <tbody>
                              {% for non_payer in non_payers %}
                              <tr>
                                <td>
                                  {% if non_payer.user.profil.url %}
                                  <img src=" {{ non_payer.user.profil.url }}" style="width: 40px; height:40px; border-radius: 250px;" alt="">
                                  {% else %}
                                     <i class="fas fa-user"></i>
                                  {% endif %}
                                </td>
                                <td> {{ non_payer.user.first_name }} {{non_payer.user.last_name }} </td>
                                <td class="text-danger"> {{ non_payer.amount_due }} GNF</td>
                                <td>{{ member_non_paid.days_overdue }}</td>
                                <td>
                                  <div class="form-button-action">
                                    {% if request.user == non_payer.user %}
                                    <i class="fa fa-edit" data-bs-toggle="modal" data-bs-target="#payementModal"></i>
                                    {% endif %}
                                    <!-- Début du modal pour le paiement -->
                                    <div class="modal fade" id="payementModal" tabindex="-1" aria-labelledby="payementModalLabel" aria-hidden="true">
                                      <div class="modal-dialog">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="payementModalLabel">Paiement des frais de la tontine</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                          </div>
                                          <form action="{% url "payement:acquitement_collective_admin" tontine.uid request.user.id %}" method="post">
                                            {% csrf_token %}
                                            <div class="modal-body">
                                              <div >
                                                <input type="number" class="form-control my-2" value="{{ tontine.amount }}" name="amount" readonly>
                                                {{ acquitement.moyen }}
                                              </div>

                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                              <button type="submit" class="btn btn-primary">Effectuer</button>
                                            </div>
                                          </form>
                                        </div>
                                      </div>
                                    </div>
                                    <!-- Fin du modal -->

                                  </div>
                                </td>
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                        <!-- fin de la liste de tout les membres de la tontine -->

                      </div>
                    </div>
                  </div>
                <!-- la fin de la table -->
                </div>


                <!-- debut de la table de tous les membres -->
                <div class="card-body">
                  <!-- le debut de la table -->
                  <div class="col-md-12">
                    <div class="card">
                      <div class="card-header">
                        <div class="d-flex align-items-center">
                          <h4 class="card-title">Liste de membres</h4>
                        </div>
                      </div>
                      <div class="card-body">
                        <!-- Modal -->
                        <!-- fin du modal -->

                        <!-- les infos dans la table -->
                        <div class="table-responsive">
                          <table
                            id="add-row"
                            class="display table table-striped table-hover"
                          >
                            <thead>
                              <tr>
                                <th>Profil</th>
                                <th>Nom</th>
                                <th>Email</th>
                                <th>Numero</th>
                                <th style="width: 10%">Action</th>
                              </tr>
                            </thead>
                            <tfoot>
                              <tr>
                                <th>Profil</th>
                                <th>Nom</th>
                                <th>Email</th>
                                <th>Numero</th>
                                <th>Action</th>
                              </tr>
                            </tfoot>
                            <tbody>
                              {% for membre in tontine.members.all %}
                              <tr>
                                <td>
                                  {%if membre.profil.url %}
                                  <img src="{{membre.profil.url}}" style="width: 40px; height:40px; border-radius: 250px;" alt="">
                                  {% else %}
                                    <i class="fas fa-user"></i>
                                  {% endif %}
                                </td>
                                <td> {{membre.first_name}} {{membre.last_name}} </td>
                                <td>{{membre.email}}</td>
                                <td>{{membre.phone_nomber}}</td>
                                <td>
                                  <div class="form-button-action">
                                    {% if request.user == membre %}
                                    <a href="{% url 'payement:historique' user=membre.pk tontine=tontine.uid %}">
                                      <i class="fas fa-question-circle" style="color: rgb(41, 202, 251); max-width: 50px;"> </i>
                                    </a>
                                    {% endif %}
                                  </div>
                                </td>
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                        <!-- fin des infos dans la table -->

                      </div>
                    </div>
                  </div>
                </div>
                 <!-- fin de la table de tous les membres -->
                <div class="card-footer">
                  <hr />
                  Tontine App
                </div>

              </div>
              <!-- la fin du cadre container total -->
            </div>
          </div>
        </div>
        {% endif %}
      </div>


  </div>
</div>

{% endblock  %}
