{% extends "admin_tontine/base.html" %}
{% load static %}
{%block content%}
<div class="wrapper">
      {% include "admin_tontine/seidebar.html" %}
      <div class="main-panel">
        {% include "admin_tontine/navbar.html" %}
        <div class="container">
          <div class="page-inner">
            <div
              class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4"
            >
              <div>
                <h3 class="fw-bold mb-3">Tableau de bord</h3>
                <h6 class="op-7 mb-2">Tontine app</h6>
              </div>
              <div class="ms-md-auto py-2 py-md-0">
                <a href="#" type="button" data-bs-toggle="modal" data-bs-target="#IndividuelleModal"  class="btn btn-info btn-round me-2">
                  <i class="fas fa-plus"></i>
                  Individuelle</a>

                <a href="#" type="button" data-bs-toggle="modal" data-bs-target="#collectiveModal"  class="btn btn-primary btn-round"> 
                  <i class="fas fa-plus"></i> Collective
                </a>
              </div>

              <!-- Modal pour la creation de tontine Individuelle-->
                <div class="modal fade" id="IndividuelleModal" tabindex="-1" aria-labelledby="IndividuelleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="IndividuelleModalLabel">Nouvelle tontine Individuelle</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <form action="{% url 'tontine_individuelle:create_tontine_individuelle' %}" method="post">
                        {% csrf_token %}
                      <div class="modal-body">
                        {{tontine_individuelle_form.as_p}}
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button type="submit" type="button" class="btn btn-primary">Creer la tontine</button>
                      </div>
                    </form>
                    </div>
                  </div>
                </div>
              <!-- fin du modal -->

              <!-- Modal pour la creation de tontine collective-->
                <div class="modal fade" id="collectiveModal" tabindex="-1" aria-labelledby="collectiveModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="collectiveModalLabel">Nouvelle tontine collective</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <form action="{% url 'tontine:create_tontine' %}" method="post">
                        {%csrf_token%}
                      <div class="modal-body">
                        {{form.as_p}}
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button type="submit" type="button" class="btn btn-primary">Creer la tontine</button>
                      </div>
                    </form>
                    </div>
                  </div>
                </div>
              <!-- fin du modal -->


            </div>
            <div class="row">
              <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-icon">
                        <div
                          class="icon-big text-center icon-primary bubble-shadow-small"
                        >
                        <i class="fas fa-luggage-cart"></i>
                        </div>
                      </div>
                      <div class="col col-stats ms-3 ms-sm-0">
                        <div class="numbers">
                          <p class="card-category">Tontine Active</p>
                          <h4 class="card-title">
                            {% if tontine.unfinished_tontines_count %}
                              {{tontine.unfinished_tontines_count}}
                            {% else %}
                              0
                            {% endif %}
                          </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-icon">
                        <div
                          class="icon-big text-center icon-info bubble-shadow-small"
                        >
                          <i class="fas fa-align-left"></i>
                        </div>
                      </div>
                      <div class="col col-stats ms-3 ms-sm-0">
                        <div class="numbers">
                          <p class="card-category">Tontine fermer</p>
                          <h4 class="card-title">
                            {% if tontine.finished_tontines_count %}
                              {{tontine.finished_tontines_count}}
                            {% else %}
                              0
                            {% endif %}
                          </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-icon">
                        <div
                          class="icon-big text-center icon-success bubble-shadow-small"
                        >
                        <i class="far fa-check-circle"></i>
                        </div>
                      </div>
                      <div class="col col-stats ms-3 ms-sm-0">
                        <div class="numbers">
                          <p class="card-category">Tontine Totale</p>
                          <h4 class="card-title">
                            {% if tontine.total_tontines_count %}
                              {{tontine.total_tontines_count}}
                            {% else %}
                              0
                            {% endif %}
                          </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-3">
                <div class="card card-stats card-round">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <div class="col-icon">
                        <div
                          class="icon-big text-center icon-secondary bubble-shadow-small"
                        >
                          <i class="fas fa-users"></i>
                        </div>
                      </div>
                      <div class="col col-stats ms-3 ms-sm-0">
                        <div class="numbers">
                          <p class="card-category">Total user</p>
                          <h4 class="card-title">57</h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md">
                <div class="card card-round">
                  <div class="card-header">
                    <div class="card-head-row card-tools-still-right">
                      <div class="card-title">Liste de mes tontines collectives</div>
                      <div class="card-tools">
                        <div class="dropdown">
                          <button
                            class="btn btn-icon btn-clean me-0"
                            type="button"
                            id="dropdownMenuButton"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                          >
                            <i class="fas fa-ellipsis-h"></i>
                          </button>
                          <div
                            class="dropdown-menu"
                            aria-labelledby="dropdownMenuButton"
                          >
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#"
                              >Something else here</a
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div class="table-responsive">
                      <!-- Projects table -->
                      <table class="table align-items-center mb-0">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col">Nom de la tontine</th>
                            <th scope="col" class="text-end">Date debut</th>
                            <th scope="col">Total Inscrit</th>
                            <th scope="col" class="text-end">Amount</th>
                            <th scope="col" class="text-end">Status</th>
                            <th scope="col" class="text-end">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for tontine in tontines %}
                          <tr>
                            <th scope="row">
                              <a href="{% url 'tontine:detail_tontine' tontine.uid %}" class="btn btn-icon btn-round btn-success btn-sm me-2">
                                <i class="fa fa-hand-holding-usd"></i>
                              </a>
                              {{tontine.name}}
                            </th>
                            <td class="text-end"> {{tontine.create_at}} </td>
                            <td class="text-center"> {{tontine.total_members}} / {{tontine.limite_member}} </td>
                            <td class="text-center">{{tontine.amount}} GNF</td>
                            
                            <!-- debut de la colonne status -->
                            <td class="text-end">
                              {% if tontine.is_finish %}
                                  <span class="badge badge-success">Fermer</span>
                              {% elif tontine.is_full %}
                                  <span class="badge badge-danger">En cours</span>
                              {% else %}
                                  <span class="badge badge-info">Inscription</span>
                              {% endif %}
                          </td>
                          <!-- fin de colonne pour statut -->
                          
                          <!-- colonne pour les actions -->
                          <td class="text-center">
                              {% if tontine.is_finished %}
                                  <a href="" class="btn btn-warning">Relancer</a>
                              {% elif is_full %}
                                  <a href="{% url 'demarrer_tontine' tontine.id %}" class="btn btn-success">Démarrer</a>
                              {% else %}
                                  <span class="badge badge-info">En attente</span>
                              {% endif %}
                          </td>
                          
                            <!-- fin de la colonne action -->
                          </tr>
                          {% empty %}
                          <p class="mx-4">Vous n'avez pas de tontine collective en cours </p>
                          {% endfor %}
                          
                        </tbody>
                      </table>
                      <!-- Pagination pour les tontines collectives -->
                      <div class="pagination justify-content-center">
                              <ul class="pagination">
                                  {% if tontines.has_previous %}
                                      <li class="page-item">
                                          <a class="page-link" href="?page=1" aria-label="First">&laquo; Première</a>
                                      </li>
                                      <li class="page-item">
                                          <a class="page-link" href="?page={{ tontines.previous_page_number }}" aria-label="Previous">Précédente</a>
                                      </li>
                                  {% endif %}

                                  <!-- Page actuelle -->
                                  <li class="page-item disabled">
                                      <span class="page-link">Page {{ tontines.number }} sur {{ tontines.paginator.num_pages }}</span>
                                  </li>

                                  {% if tontines.has_next %}
                                      <li class="page-item">
                                          <a class="page-link" href="?page={{ tontines.next_page_number }}" aria-label="Next">Suivante</a>
                                      </li>
                                      <li class="page-item">
                                          <a class="page-link" href="?page={{ tontines.paginator.num_pages }}" aria-label="Last">Dernière &raquo;</a>
                                      </li>
                                  {% endif %}
                              </ul>
                          </div>

                        <!-- la fin de la pagination -->

                    </div>
                  </div>
                </div>
              </div>
            </div>



<!-- la partie de tontine Individuelle -->
            <div class="row">
              <div class="col-md">
                <div class="card card-round">
                  <div class="card-header">
                    <div class="card-head-row card-tools-still-right">
                      <div class="card-title">Liste de mes tontines Individuelle</div>
                      <div class="card-tools">
                       
                      </div>
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div class="table-responsive">
                      <!-- Projects table -->
                      <table class="table align-items-center mb-0">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col">Nom de la tontine</th>
                            <th scope="col" class="text-end">Date debut</th>
                            <th scope="col">Date de fin</th>
                            <th scope="col" class="text-end">Montant</th>
                            <th scope="col" class="text-end">Status</th>
                            <th scope="col" class="text-end">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for tontine_individuelle in tontine_individuelles %}
                          <tr>
                            <th scope="row">
                              <a href="{% url 'tontine_individuelle:datail_tontine_individuelle' tontine_individuelle.uid %}" class="btn btn-icon btn-round btn-success btn-sm me-2">
                                <i class="fa fa-hand-holding-usd"></i>
                              </a>
                              {{tontine_individuelle.name}}
                            </th>
                            <td class="text-end"> {{tontine_individuelle.create_at}} </td>
                            <td class="text-center"> {{tontine_individuelle.end_date}}</td>
                            <td class="text-center">{{tontine_individuelle.amount}} GNF</td>
                            
                            <!-- debut de la colonne status -->
                            <td class="text-end">
                              {% if tontine_individuelle.statue %}
                                <span class="badge badge-danger"> En cours</span>
                              {% else %}
                                <span class="badge badge-success">Fermer</span>
                              {% endif %}
                            </td>
                            <td class="text-center">
                              <!-- fin de colonne pour statut -->
                            {% if tontine_individuelle.paid %}
                              <span class="badge badge-success"> Payer </span>
                            {% elif not tontine_individuelle.statue %}
                              <span class="badge badge-warning"> Non Payer </span>
                            {% endif %}
                              <!-- colonne pour les actions -->
                          </td>
                          
                            <!-- fin de la colonne action -->
                          </tr>
                          {% empty %}
                          <p class="mx-4">Vous n'avez pas de tontine Individuelle en cours </p>
                          {% endfor %}

                        </tbody>
                      </table>

                      <!-- Pagination des tontines individuelles -->
                      <div class="pagination justify-content-center">
                            <ul class="pagination">
                                {% if tontine_individuelles.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page_individuelle=1" aria-label="First">&laquo; Première</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?page_individuelle={{ tontine_individuelles.previous_page_number }}" aria-label="Previous">Précédente</a>
                                    </li>
                                {% endif %}

                                <!-- Page actuelle centrée -->
                                <li class="page-item disabled">
                                    <span class="page-link">Page {{ tontine_individuelles.number }} sur {{ tontine_individuelles.paginator.num_pages }}</span>
                                </li>

                                {% if tontine_individuelles.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page_individuelle={{ tontine_individuelles.next_page_number }}" aria-label="Next">Suivante</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="?page_individuelle={{ tontine_individuelles.paginator.num_pages }}" aria-label="Last">Dernière &raquo;</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>

                      <!-- fin de la pagination -->

                    </div>
                  </div>
                </div>
              </div>
            </div>



          </div>
        </div>
        <!-- le message de toast -->
       

        <!-- la fin du message toast -->
        
        <!-- Toast -->
            {% if messages %}
              {% for message in messages %}
                <div id="liveToast{{ forloop.counter }}" class="toast align-items-center text-bg-dark border-0" role="alert" aria-live="assertive" aria-atomic="true" style="position: fixed; bottom: 10px; right: 10px; z-index: 1050;">
                  <div class="toast-header">
                   <i class="fa-regular fa-bell me-2"></i>
                    <strong class="me-auto">Notifications</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Fermer"></button>
                  </div>
                  <div class="toast-body {% if 'success' in message.tags %} text-success {% else %} text-danger {% endif %}">
                    {{ message }}
                  </div>
                </div>
              {% endfor %}
            {% endif %}



        <script>
          // Affichage automatique des toasts au chargement
          window.addEventListener('load', () => {
            {% for message in messages %}
              const toastLiveExample = document.getElementById('liveToast{{ forloop.counter }}');
              if (toastLiveExample) {
                const toastBootstrap = new bootstrap.Toast(toastLiveExample, { delay: 5000 });
                toastBootstrap.show();
              }
            {% endfor %}
          });
        </script>



      </div>

    </div>
{% endblock %}